@import "variables.css";
@import "reset.css";
@import "grid.css";
@import "buttons.css";
@import "navbar.css";
@import "footer.css";
@import "landing.css";
@import "archive.css";

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-dark);
  background-color: var(--color-light);
}

a {
  color: var(--color-brand);
  text-decoration: none;
  transition: color 150ms ease;
}

a:hover {
  color: var(--color-brand-dark);
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-weight: 700;
  color: var(--color-dark);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.4rem;
  font-weight: 600;
}

h5 {
  font-size: 1.3rem;
}

h6 {
  font-size: 1.2rem;
}

p {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-bold {
  font-weight: 700;
}

.no-margin {
  margin: 0;
}

.padding {
  padding: 1rem;
}

.padding-vertical {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.padding-top {
  padding-top: 1rem;
}

.padding-bottom {
  padding-bottom: 1rem;
}

.padding-3-1-bottom {
  padding-bottom: 4.5rem;
}

.padding-3-1-vertical {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.padding-2-1-top {
  padding-top: 3rem;
}

.padding-horizontal {
  padding-left: 1rem;
  padding-right: 1rem;
}

.margin-bottom-half {
  margin-bottom: 0.5rem;
}

.margin-1-2-bottom {
  margin-bottom: 0.75rem;
}

.margin-top {
  margin-top: 1rem;
}

.float-right {
  float: right;
}

.block {
  display: block;
}

.link-brand {
  color: var(--color-brand);
}

.link-brand:hover {
  color: var(--color-brand-dark);
}

.link-light {
  color: var(--color-light);
}

.link-light:hover {
  color: var(--color-brand-muted);
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }
}
